@(items: List[InventoryItem])

@main("Shopping Cart"){
    <div class="container-fluid">
        <div class="row-fluid" id="inventoryList">
            <div class="span9">
                <ul id="items" class="thumbnails">
                    @for(item <- items){
                        <li class="span3" id="itemThumbnail">
                            <div class="thumbnail" data-name="@item.name" data-quantity="@item.quantity" data-price="@item.price">
                                <img src="@item.imgPath" />
                                <div style="text-align: center">
                                    <h4>
                                        @item.name
                                        <small>
                                            @item.price
                                        </small>
                                    </h4>
                                    <p>Quantity: @item.quantity</p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="span3 well" id="shoppingCartContainer">
                <div id="shoppingCart">
                    <h4>
                        <small>Your Cart</small>
                    </h4> <hr />
                </div>
                <a href="#" class="btn btn-info disabled" id="checkoutBtn">
                    Checkout
                </a>
            </div>
        </div>
        <div class="row-fluid"  id="purchaseSummary">
            <div class="span12">
            </div>
        </div>
    </div>
}